.navbar-nav .nav-item .nav-link {
    color: rgb(148, 241, 203);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(148, 241, 203);
    background-color: rgb(8, 64, 187);
}


.navbar-nav .nav-item.active .title {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
}

.navbar-nav .nav-item:hover .title {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:visible;
}

