.navbar-nav .nav-item .nav-link {
    color: rgb(148, 241, 203);
}

.navbar-nav .nav-item:hover .nav-link {
    color: rgb(148, 241, 203);
    background-color: rgb(8, 64, 187);
}

.card2 .card-header {
    background-color: rgb(90, 126, 155);
    color: white;
}